@charset "UTF-8";
/* 后台管理主样式表 */

* {
    margin: 0;
    padding: 0;
}

.head {
    margin: 30px 100px;
}

.head h2 {
    text-align: center;
}

.head span {
    float: right;
    color: gray;
    margin-right: 150px;
}

.body {
    margin: 30px auto;
    width: 900px;
}

/********************************左边栏样式<开始>*********************************/
.body_left {
    float: left;
    border: 1px solid lightgray;
    padding: 15px 15px 200px 15px;
}

.body_left ul {
    list-style-type: none;
}

.body_left .menu a:link, a:visited {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    background-color: lightgray;
    width: 120px;
    padding: 4px;
    margin-bottom: 5px;
    text-decoration: none;
}

.body_left .menu a:hover, a:active {
    background-color: black;
}

a.menu_select {
    background-color: gray;
}

/********************************左边栏样式<结束>*********************************/

/********************************主体部分样式<开始>*********************************/
.body_right {
    border: 1px solid lightgray;
    float: right;
    width: 670px;
    min-height: 430px;
}

.body_right table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 90%;
    border-collapse: collapse;
    margin: 15px auto;
}

.body_right td, th {
    font-size: 0.9em;
    border: 1px solid lightgrey;
    padding: 3px 7px 2px 7px;
}

.body_right th {
    font-size: 0.8em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: lightgrey;
    color: #ffffff;
}

.body_right .double_tr td {
    color: #000000;
    background-color: WhiteSmoke;
}

/********************************主体部分样式<结束>*********************************/

/*****************************禁止访问主体样式<开始>******************************/
.ban_record_example {
    color: gray;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}

.ban_record_example div {
    margin-top: 10px;
    border: 1px lightgray solid;
    padding: 5px;
}

.ban_record_text {
    float: left;
    margin-top: 20px;
    margin-left: 50px;
}

.ban_record_text input {
    margin-left: 10px;
}

/*****************************禁止访问主体样式<结束>******************************/

/******************************页码选择器样式<开始>*******************************/
.page_selector {
    margin-bottom: 5px;
    font-size: 13px;
    text-align: center;
}

.show_page a {
    border: 1px gray solid;
    border-radius: 3px;
    padding: 2px;
    margin: 3px 1px;
    color: black;
    text-decoration: none;
}

.show_page a:hover {
    background-color: lightgray;
}

.page_url {
    display: inline-block;
    width: 25px;
    text-align: center;
}

.selected_url {
    background-color: lightgrey;
}

.show_page_info {
}

/******************************页码选择器样式<开始>*******************************/

/********************************页脚样式<开始>*********************************/
.foot {
    clear: both;
    float: left;
    margin-top: 80px;
    width: 100%;
    text-align: center;
    color: gray;
}

.foot span {
    font-size: 13px;
}

.foot a {
    text-decoration: none;
    color: black;
}

.foot a:hover {
    text-decoration: underline;
}

/********************************页脚样式<结束>*********************************/